@page "/expenses"
@attribute [Authorize]
@inherits ExpensesViewComponent
@using ChartJs.Blazor;
@using PersonalFinanceManager.Client.Components;

<p>Total expenses this month : @ViewModel.CurrentAmount</p>

<button class="plus-button" @onclick="() => Modal.Open()"></button>

<EditForm Model="ViewModel">
    <div>
        <div>From :</div>
        <InputDate type="date" @bind-Value="ViewModel.DateFrom"></InputDate>
    </div>
    <div>
        <div>To :</div>
        <InputDate type="date" @bind-Value="ViewModel.DateTo"></InputDate>
    </div>
</EditForm>

<Chart Config="ViewModel.Config"></Chart>

<AddModal @ref="Modal"></AddModal>

@code {
    private AddModal Modal { get; set; }
}
