@page "/expenses"
@attribute [Authorize]
@inherits ExpensesViewComponent
@using ChartJs.Blazor;

<p>Total expenses this month : @ViewModel.CurrentAmount</p>

<input type="number" @bind="ViewModel.ValueToAdd" />

<button class="btn btn-primary" @onclick="ViewModel.AddExpense">Add</button>

<EditForm Model="ViewModel">
    <div>
        <div>From :</div>
        <InputDate type="date" @bind-Value="ViewModel.DateFrom"></InputDate>
    </div>
    <div>
        <div>To :</div>
        <InputDate type="date" @bind-Value="ViewModel.DateTo"></InputDate>
    </div>
</EditForm>

<Chart Config="ViewModel.Config" @ref="ViewModel.Chart"></Chart>


