@page "/Income"
@inherits IncomeManagementComponent

<h1>Income</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (ViewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Your income is @ViewModel.Amount</p>
}

